accelerate==0.34.2
cuda-python==11.6.0
datasets==2.20.0
matplotlib==3.6.2
nltk==3.8.1
pandas==1.5.2
scikit-learn
scipy==1.6.3
transformers @ git+https://github.com/huggingface/transformers@aec1ca3a588bc6c65f7886e3d3eaa74901a6356f
torch==1.14.0
